/*Estilos generales del documento*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    display: flex;
    background-color: #9FC5F8;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


a {
    text-decoration: none;
    }

.container {
    margin-top: 6rem;
    background-color: rgb(240, 240, 238);
    width: 80%;

}


/*ENCABEZADO*/

header {
    display: grid;
    grid-template-columns: 20% 80%;
    /* min-height: 75px; */
    justify-content: space-between;
    align-items: center;
    background-color: #597EAA;
 }

h1{
    display: flex;
    background-color: #597EAA;
    padding: 2rem;
    font-size: xx-large;
}
.navbar {
    background-color: #597EAA;
}
.navbar_list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar_item {
    display: inline-block;
    font-size:x-large;
}

.navbar_link {
    color: white;
    display: inline-block;
    padding: 20px;
}
.active {
    color: rgb(0, 1, 2);
}
.navbar a:hover {
    color: rgb(240, 77, 232);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


/*MAIN*/

/*BIENVENIDOS*/

.content {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

.article_content {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #597EAA;
    padding: 2%;
}

.article_content h2{
    display: flex;
    justify-content:left;
    align-items: center;
    padding-bottom: 2%;
}

picture img  {
    display: flex;
    justify-content: stretch;
    width: 100%;

}
.article_text {
    font-size:80%;
    text-align: justify;
    margin: 1rem;
    padding: 2px;
}


.article_list {
    display: block;
    margin-left: 60px;
    font-size: 80%;
}


/*PAGES*/

/*NOVEDADES*/

.content_title_news {
    font-size: xx-large;
    margin-bottom: 2rem;
}

.content_news {
    display: flex;
    margin: 0;
}

.article_news {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.article_content_news {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    border: 1px solid white;
    margin-bottom:0;
    }

        .article_list_news {
            display: block;
            margin-left: 60px;
            font-size: large;
            font-style: italic;
        }

            /*Novedades_cumpleaños*/

.content_news_birth {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 10rem;
    }

.article_news_birth {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 2rem;
}

.article_content_news_birth {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    border: 1px solid white;
    margin-bottom: 2rem;
    width: 90%;
}
.content_title_news_birth {
        font-size: xx-large;
        margin-bottom: 2rem;
        text-align: center;
    }

.article_list_news_birth {
    display: block;
    margin-left: 60px;
    font-size: large;
    font-style: italic;
}


/*Novedades_personal*/

.content_news_pers {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 5rem;
    }

.article_news_pers {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding: 2rem;
}

.article_content_news_pers {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    border: 1px solid white;
    margin-bottom: 2rem;
    width: 90%;
}
.content_title_news_pers {
    font-size: xx-large;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 43px;
    }

.article_list_news_pers {
    display: block;
    margin-left: 60px;
    font-size: large;
    font-style: italic;
}

.article_text_news_pers {
    font-size:large;
    text-align: left;
    margin: 1rem;
    padding: 2px;
    width: 20%;
}

/*AREAS*/

.content_areas {
    display: flex;
    margin: 0;
    padding: 0;
    /* margin-left: 0;
    margin-right: 5rem; */
    }

.article_areas {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.article_content_areas {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    border: 1px solid white;
    margin-bottom: 2rem;
    width: 90%;
}
.content_title_areas {
    font-size: xx-large;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 43px;
    }

.article_list_areas  {
    display: block;
    margin-left: 60px;
    font-size: large;
    font-style: italic;
}

.article_text_areas {
    font-size:large;
    text-align: left;
    margin: 1rem;
    padding: 2px;
    width: 20%;
}

/*INSTITUCIONAL*/

.content_insti {
    display: inline-block;
    margin: 0;
    padding: 0;
    }

.article_insti {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.article_content_insti {
    display: inline;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-bottom: 2rem;
    width: 90%;
}
.content_title_insti {
    font-size: xx-large;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 43px;
    }

.article_list_insti  {
    display: block;
    margin-left: 60px;
    font-size: large;
    font-style: italic;
}

.article_text_insti {
    font-size:xx-large;
    text-align: center;
    margin: 2rem;
    padding: 2px;
    width: 100%;
    }

    .article_text_institu {
        font-size:xx-large;
        text-align: center;
        margin-bottom: 2rem;
        padding: 0;
        width: 100%;
        }
 

iframe {
    margin-left: 0;
    margin-right: 70px;
    margin-top: 2rem;
}


/*CONTACTO*/

.content_contact {
    display: flex;
    margin: 4rem;
}

.article_contact {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.article_content {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    border: 1px solid white;
    margin-left: 8%;
    margin-bottom: 2rem;
}
.article_content_contact {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    border: 1px solid white;
    margin-bottom: 2rem;
    width: 90%;
}


.btn_submit {
    font-size: x-large;
}

form {
    display: block;
    text-align: left;
    font-size: x-large;
}

/*Footer*/

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #597EAA;

}

.container_info {
    display: flex;
    font-size: small;
    margin-bottom: 0;
}

.navbar_foot {
    background-color: #597EAA;
}
.navbar_list_foot  {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar_item_foot  {
    display: inline-block;
    font-size:x-large;
}

.navbar_link_foot  {
    color: white;
    display: inline-block;
    padding: 20px;
}

.navbar_foot  a:hover {
    color: rgb(240, 77, 232);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}




/*Media Queries*/
@media screen and (max-width:1000px){
    header {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .navbar {
        position: fixed;
        text-align: center;
        background-color: #597EAA;
        width:max-content;
        }

    .navbar_item {
        font-size: 80%;

    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .navbar_item_foot {
        font-size: 80%;

    }

    .content_title_areas {
        font-size: 80%;
        padding: 0;
    }

    .article_list_areas {
        font-size: 60%;
    }

   
}